.timezone-selector {
width: 100%;
}

.timezone-selector ul {
  max-height: 0;
overflow: hidden;
transition: max-height 0.5s ease-in-out;
}

.timezone-selector ul.open {
  max-height: 100vh;
  overflow-y: auto;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.timezone-selector ul.open::-webkit-scrollbar {
    display: none;
}

.timezone-selector h4 {
cursor: pointer;
}


.timezone-option {
  list-style-type: none;
cursor: pointer;
padding: 5px;
         font-size: 14px;
}

.timezone-option:hover {
  background-color: #f0f0f0;
}
